.arcticle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-item {
    border-radius: 10px 10px 10px 10px;
    width: 30%;
    margin-bottom: 40px;
    transition: background-color 0.2s ease-in-out;
}