.body-view {
    width: 35%;
    margin-left: 1%;
    height: 80%;
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
}
  
.body-map__muscle path {
    fill: #2a2a2a;
}
  
.body-map__muscle:hover path {
    fill: #d85f19;
}
  
   *:focus {
    outline: 0;
   }
  
   #bodies-panel {
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
    padding-top: 3%;
   }
  
   #exercises-list {
    transition: width 0.7s ease-in-out;
    background-color: #222222;
    color: white;
   }

   .maximize-icon {
     color: white;
     margin-top: 6%;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
     transition-delay: 0.26s;
     
    }

      
    .maximize-icon.active {
        opacity: 1;
    }