.body-view {
    width: 35%;
    margin-left: 1%;
    height: 80%;
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
}

.body-map__muscle path {
    fill: #eceaea;
}

.body-map__muscle:hover path {
    fill: #1e67c7;
}

*:focus {
    outline: 0;
}

#bodies-panel {
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
    height: 0;
    background-color: #eceaea;
    border-right: 1px solid #bebebe;
}

#exercises-list {
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    transition: width 0.7s ease-in-out;
    background-color: #f8f8f8;
    color: white;
}

.maximize-icon {
    color: white;
    margin-top: 6%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.26s;

}


.maximize-icon.active {
    opacity: 1;
}