body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navigation-panel {
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid #d6d4d4;
}

.bg {
  background-color: #f8f8f8;
  color: rgb(87, 87, 87);
}

#right-panel {
  text-align: center;
  background-color: #eceaea;
}

.container {
  display: flex;
 }

 .nav-element {
  margin-top: 30%;
 }

 .nav-element {
  font-size: 3em;
 }

 .full-nav-element {
  color: rgb(255, 255, 255);
  transition: color 0.1s linear;
 }


 .full-nav-element:hover {
  color: rgb(156, 155, 155);
 }

.icon {
  font-size: 300%;
}

 .icon-text {
  font-size: 90%;
 }

