.arcticle-constainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-item {
    border-radius: 10px 10px 0 0;
    background-color: #121212;
    width: 45%;
    height: 200px;
    margin-bottom: 40px;
}

.author-bar {
    text-align: left;
    width: 97%;
    background-color: #d85f19;
    height: 20%;
    padding: 2% 0 0 3%;
    border-radius: 0 0 10px 10px;
}