.body-view {
    width: 35%;
    margin-left: 1%;
   }
  
   .body-map__muscle path {
    fill: #2a2a2a;
   }
  
   .body-map__muscle:hover path {
    fill: #d85f19;
   }
  
   *:focus {
    outline: 0;
   }
  
   #bodies-panel {
    transition: width 0.7s ease-in-out;
    padding-top: 3%;
   }
  
   #exercises-list {
    transition: width 0.7s ease-in-out;
    background-color: #222222;
    border-left: 2px solid #333130;
    color: white;
   }