body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: white;
}

.green-bg {
  background-color: #30c582;
  color: white;
}

#navigation-panel {
  text-align: center;
  width: 5%;
  height: 100vh;
  top: 0;
  position: sticky;
}

#right-panel {
  text-align: center;
}

.container {
  display: flex;
 }

 .nav-element {
  margin-top: 30px;
 }


 .body-view {
  width: 35%;
  margin-left: 1%;
 }

 .body-map__muscle path {
  fill: white;
 }

 .body-map__muscle:hover path {
  fill: #30c582;
 }

 *:focus {
  outline: 0;
 }

 #bodies-panel {
  padding-top: 3%;
  width: 70%;
 }

 #exercises-list {
  width: 30%;
  background-color: #30c582;
  color: white;
 }

 .nav-element {
  font-size: 4em;
 }

